@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.949);
  background-color: #335776;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2d485f;
    background-color: #F7F9EB;
  }
}
